@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    min-height: 100vh;
    /* background-color: #f0f0f0; */
    background: url('/assets/img/bg.webp');
    background-size: 300px;
}   

.login{
    background-color: #38b000;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}
.form-card{
    display: grid;
    gap: 5px;
}
.input-login{
    border-radius: 10px;
    border-color: #008000;
    transition: 0.1s;
}

.input-login:focus{
    border-radius: 10px;
    border-color: #008000;
    border-width: 2px;
    transition: 0.1s;
}

.card-login{
    background-color: #ffffff;
    padding: 20px;
    display: grid;
    gap: 20px;
    border-radius: 20px;
    min-width: 400px;
    box-shadow: 0px 0px 15px -5px #38b000;
}
.login-img{
    background-color: #38b000;
    min-height: 100vh;
}
.header{
    background-color: #72d60f;
    padding: 30px;
    gap: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav{
    background-color: #008000;
    height: 70px;
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.267);
}

.nav .nav-item{
    display: flex;
    align-items: center;
    padding: 15px;
    transition: 0.2s;
}

.nav .nav-item:active p{
    transform: scale(0.8);
    transition: 0.2s;
}
.nav .nav-item:hover{
    background-color: #38b000;
    display: flex;
    align-items: center;
    padding: 15px;
}
.nav .nav-item p{
    font-size: 20px;
    color: #ffffff;
}

.nav .nav-item-active{
    background-color: #38b000;
    display: flex;
    align-items: center;
    padding: 15px;
}
.nav .nav-item-active:active p{
    transform: scale(0.8);
    transition: 0.2s;
}
.nav .nav-item-active p{
    font-size: 20px;
    color: #ffffff;
}

.section-1{
    /* background-color: #f0f0f0; */
    padding: 20px;
    padding-top: 100px;
}
.section-2{
    background-color: #00000011;
    padding: 20px;
    padding-top: 100px;
}

.card-section1{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
.header-section1{
    background-color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.body-section1 {
    text-align: justify;
    padding: 20px;
}

.card-section2{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
.header-section2{
    background-color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.body-section2 {
    display: grid;
    gap: 8px;
}
/* item */
.btn-green{
    background-color: #38B000;
    color: #ffffff;
}

.btn-green:hover{
    background-color: #33860d;
    color: #ffffff;
}

.btn-blue{
    background-color: #4361ee;
    color: #FFFFFF;
}

.btn-blue:hover{
    background-color: #3f37c9;
    color: #FFFFFF;
}
.card-errors{
    background-color: #ff2222;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.btn-yellow{
    background-color: #ecf000;
    color: #000000;
}

.btn-yellow:hover{
    background-color: #fae106;
    color: #000000;
}
.btn-red{
    background-color: #ff0707;
    color: #ffffff;
}
.btn-red:hover{
    background-color: #d61919;
    color: #ffffff;
}
.btn-white{
    background-color: #ffffff;
    color: #000000;
    /* box-shadow: 3px 3px 0px 0px #000000; */
    border-color: #000000;
    border-width: 2px;
    padding: 7px;
    border-radius: 10px;
}
.btn-white:hover{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 3px 3px 0px 0px #000000;
    border-color: #000000;
    border-width: 2px;
    padding: 7px;
    border-radius: 10px;
}
.btn-white-active{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 3px 3px 0px 0px #000000;
    border-color: #000000;
    border-width: 2px;
    padding: 7px;
    border-radius: 10px;
}
.btn-white-active:hover{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 3px 3px 0px 0px #000000;
    border-color: #000000;
    border-width: 2px;
    padding: 7px;
    border-radius: 10px;
}

.btn-yellow-active{
    background-color: #ecf000;
    color: #000000;
    box-shadow: 3px 3px 0px 0px #000000;
    border-color: #000000;
    border-width: 2px;
    padding: 7px;
    border-radius: 10px;
}

.btn-yellow-active:hover{
    background-color: #ecf000;
    color: #000000;
    box-shadow: 3px 3px 0px 0px #000000;
    border-color: #000000;
    border-width: 2px;
    padding: 7px;
    border-radius: 10px;
}

.text-red{
    color: #ff0707;
}
.bg-green{
    background-color: #38B000;
    color: #FFFFFF;
    padding: 7px;
    border-radius: 5px;
}
.bg-yellow{
    background-color: #ecf000;
    color: #000000;
    padding: 7px;
    border-radius: 5px;
}
.bg-red{
    color: #FFFFFF;
    background-color: #ff0707;
    padding: 7px;
    border-radius: 5px;
}
.bg-blue{
    background-color: #4361ee;
    color: #FFFFFF;
    padding: 7px;
    border-radius: 5px;
}
.bg-grey{
    background-color: #e9e9e9;
    color: #000000;
    box-shadow: 3px 3px 0px 0px #000000;
    border-color: #000000;
    border-width: 2px;
    padding: 7px;
    border-radius: 10px;
}
.bg-white{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 3px 3px 0px 0px #000000;
    border-color: #000000;
    border-width: 2px;
    padding: 7px;
    border-radius: 10px;
}
.card-alert-login{
    background-color: #ffffff;
    position: fixed;
    color: #000000;
    box-shadow: 3px 3px 0px 0px #000000;
    border-color: #000000;
    border-width: 2px;
    padding: 7px;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    margin-top: -25px;
}
.card-alert-login-off{
    background-color: #ffffff00;
    position: fixed;
    color: #00000000;
    box-shadow: 3px 3px 0px 0px #00000000;
    border-color: #00000000;
    border-width: 2px;
    padding: 7px;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    margin-top: -100px;
}
.card-alert-success{
    background-color: #70e000;
    padding: 7px;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    color: #000000;
    padding-left: 13px;
    padding-right: 13px;
    box-shadow: 2px 2px 4px 0px #073a07;
}
.card-modal-on{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 0px 0px #000000;
    border-color: #000000;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    z-index: 10;
    margin-top:-140px;
    transition: ease-in-out 0.8s;
    min-width: 500px;
}

.card-modal-off{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 0px 0px #000000;
    border-radius: 10px;
    border-color: #000000;
    border-width: 2px;
    padding: 20px;
    position: fixed;
    z-index: 10;
    margin-top:-350px;
    transition: ease-in-out 0.6s;
    min-width: 500px;
}
.form-input{
    border-radius: 10px;
    border-color: #008000;
    transition: 0.1s;
    min-height: 50px;
    max-height: 50px;
}

.form-input:focus{
    border-radius: 10px;
    border-color: #008000;
    border-width: 2px;
    transition: 0.1s;
}
.form-input-area{
    border-radius: 10px;
    min-height: 50px;
    border-color: #008000;
    transition: 0.1s;
}

.form-input-area:focus{
    border-radius: 10px;
    border-color: #008000;
    border-width: 2px;
    min-height: 50px;
    transition: 0.1s;
}

.form-input-error{
    border-radius: 10px;
    border-color: #e91313;
    transition: 0.1s;
}

.form-input-error:focus{
    border-radius: 10px;
    border-color: #e91313;
    outline: #e91313;
    border-width: 2px;
    transition: 0.1s;
}

select option:active{
    padding: 10px;
    background-color: #073a07;
}
/* super || admin */
.sidebar{
    /* background-color: #38B000; */
    background-color: #33860d;
    position: fixed;
    width: 360px;    
    height: 100vh;
    /* box-shadow: 1px 0px 7px 1px #073a07; */
    padding: 20px;
}

.head-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.head-sidebar .head-text{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-left-color: #FFFFFF;
    border-left-width: 5px;;
    padding-left: 20px;
}

.body-sidebar{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    gap: 10px;
}
.body-sidebar .item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 2px 2px 2px 2px #33860d;
    text-transform: uppercase;
    transition: ease-in-out 0.2s;
    color: #FFFFFF;
}
.body-sidebar .item-active{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-right: -30px;
    margin-left: 30px;
    box-shadow:  5px 5px 0px 0px #073a07;
    border-width: 2px;
    border-color: #073a07;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}
.body-sidebar .item:hover{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-right: -30px;
    margin-left: 30px;
    box-shadow:  5px 5px 0px 0px #073a07;
    border-width: 2px;
    border-color: #073a07;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    transition: ease-in-out 0.2s;
}
.body-sidebar .item:active {
    transform: scale(0.9);
    transition: 0.3s;
    transition: ease-in-out 0.2s;
}
.body-sidebar .item-active:active {
    transform: scale(0.9);
    transition: 0.3s;
}
.footer-sidebar{
    background-color: #38B000;
    color: white;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 0px 5px 0px #006400;
    padding: 10px;
    gap: 10px;
}
.footer-sidebar .item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 0px 5px 0px #006400;
}
.footer-sidebar .item:hover{
    background-color: #70E000;
    box-shadow: 1px 0px 5px 0px #006400;
    /* align-items: center; */
}
.section-super{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px #000000;
    border-width: 2px;
    border-color: #000000;
}   
