.btn-green{
    background-color: #9EF01A;
    color: #000000;
}

.btn-green:hover{
    background-color: #38B000;
    color: #FFFFFF;
}

.btn-blue{
    background-color: #4361ee;
    color: #FFFFFF;
}

.btn-blue:hover{
    background-color: #3f37c9;
    color: #FFFFFF;
}